*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 60px;
    z-index: 38772;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
nav a{
    color: white;
    padding: 10px 20px;
}
nav a.active,
nav a:hover{
    background-color: blue;
}
main section{
    height: 900px;
    font-size: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
main section:nth-child(odd){
    background-color: aqua;
}